In [1]:
import sys
PATH_PACKAGES='/app/pmsuser/program/packages'
sys.path.insert(0, PATH_PACKAGES)

#Cloudera ODBC Driver for Hive https://www.cloudera.com/downloads/connectors/hive/odbc/2-6-1.html

In [2]:
connection_string = '''Driver=/opt/cloudera/hiveodbc/lib/64/libclouderahiveodbc64.so;
HOST=HOST;
PORT=PORT;
UID=USERNAME;
PWD=PASSWORD;
AuthMech=3;
SSL=0;
Min_TLS=1.2;
AllowSelfSignedServerCert=1'''

#example_query

In [3]:
import pyodbc
connection=pyodbc.connect(connection_string, autocommit=True)
cursor = connection.cursor()
query = '''SELECT * FROM pms_radio.master_province;'''
cursor.execute(query)
results = cursor.fetchall()
print(results)
cursor.close()

[('1', 'กรุงเทพมหานคร', 'BANGKOK'), ('2', 'กระบี่', 'KRABI'), ('3', 'กาญจนบุรี', 'KANCHANABURI'), ('4', 'กาฬสินธุ์', 'KALASIN'), ('5', 'กำแพงเพชร', 'KAMPHAENG PHET'), ('6', 'ขอนแก่น', 'KHON KAEN'), ('7', 'จันทบุรี', 'CHANTHABURI'), ('8', 'ฉะเชิงเทรา', 'CHACHOENGSAO'), ('9', 'ชลบุรี', 'CHON BURI'), ('10', 'ชัยนาท', 'CHAI NAT'), ('11', 'ชัยภูมิ', 'CHAIYAPHUM'), ('12', 'ชุมพร', 'CHUMPHON'), ('13', 'เชียงราย', 'CHIANG RAI'), ('14', 'เชียงใหม่', 'CHIANG MAI'), ('15', 'ตรัง', 'TRANG'), ('16', 'ตราด', 'TRAT'), ('17', 'ตาก', 'TAK'), ('18', 'นครนายก', 'NAKHON NAYOK'), ('19', 'นครปฐม', 'NAKHON PATHOM'), ('20', 'นครพนม', 'NAKHON PHANOM'), ('21', 'นครราชสีมา', 'NAKHON RATCHASIMA'), ('22', 'นครศรีธรรมราช', 'NAKHON SI THAMMARAT'), ('23', 'นครสวรรค์', 'NAKHON SAWAN'), ('24', 'นนทบุรี', 'NONTHABURI'), ('25', 'นราธิวาส', 'NARATHIWAT'), ('26', 'น่าน', 'NAN'), ('27', 'บึงกาฬ', 'BUENG KAN'), ('28', 'บุรีรัมย์', 'BURI RAM'), ('29', 'ปทุมธานี', 'PATHUM THANI'), ('30', 'ประจวบคีรีขันธ์', 'PRACHUAP KHIRI KHAN'), ('31', 'ปราจีนบุรี', 'PRACHIN BURI'), ('32', 'ปัตตานี', 'PATTANI'), ('33', 'พระนครศรีอยุธยา', 'PHRA NAKHON SI AYUTTHAYA'), ('34', 'พะเยา', 'PHAYAO'), ('35', 'พังงา', 'PHANGNGA'), ('36', 'พัทลุง', 'PHATTHALUNG'), ('37', 'พิจิตร', 'PHICHIT'), ('38', 'พิษณุโลก', 'PHITSANULOK'), ('39', 'เพชรบุรี', 'PHETCHABURI'), ('40', 'เพชรบูรณ์', 'PHETCHABUN'), ('41', 'แพร่', 'PHRAE'), ('42', 'ภูเก็ต', 'PHUKET'), ('43', 'มหาสารคาม', 'MAHA SARAKHAM'), ('44', 'มุกดาหาร', 'MUKDAHAN'), ('45', 'แม่ฮ่องสอน', 'MAE HONG SON'), ('46', 'ยโสธร', 'YASOTHON'), ('47', 'ยะลา', 'YALA'), ('48', 'ร้อยเอ็ด', 'ROI ET'), ('49', 'ระนอง', 'RANONG'), ('50', 'ระยอง', 'RAYONG'), ('51', 'ราชบุรี', 'RATCHABURI'), ('52', 'ลพบุรี', 'LOP BURI'), ('53', 'ลำปาง', 'LAMPANG'), ('54', 'ลำพูน', 'LAMPHUN'), ('55', 'เลย', 'LOEI'), ('56', 'ศรีสะเกษ', 'SI SA KET'), ('57', 'สกลนคร', 'SAKON NAKHON'), ('58', 'สงขลา', 'SONGKHLA'), ('59', 'สตูล', 'SATUN'), ('60', 'สมุทรปราการ', 'SAMUT PRAKAN'), ('61', 'สมุทรสงคราม', 'SAMUT SONGKHRAM'), ('62', 'สมุทรสาคร', 'SAMUT SAKHON'), ('63', 'สระแก้ว', 'SA KAEO'), ('64', 'สระบุรี', 'SARABURI'), ('65', 'สิงห์บุรี', 'SING BURI'), ('66', 'สุโขทัย', 'SUKHOTHAI'), ('67', 'สุพรรณบุรี', 'SUPHAN BURI'), ('68', 'สุราษฎร์ธานี', 'SURAT THANI'), ('69', 'สุรินทร์', 'SURIN'), ('70', 'หนองคาย', 'NONG KHAI'), ('71', 'หนองบัวลำภู', 'NONG BUA LAMPHU'), ('72', 'อ่างทอง', 'ANG THONG'), ('73', 'อำนาจเจริญ', 'AMNAT CHAROEN'), ('74', 'อุดรธานี', 'UDON THANI'), ('75', 'อุตรดิตถ์', 'UTTARADIT'), ('76', 'อุทัยธานี', 'UTHAI THANI'), ('77', 'อุบลราชธานี', 'UBON RATCHATHANI')]

#example_query_to_pandas_dataframe

In [4]:
import pyodbc
import pandas as pd

query = 'select * from pms_radio.master_province;'

conn = pyodbc.connect(connection_string, autocommit=True)

df = pd.read_sql_query(query, conn)

conn.close()

df

   province_id  thai_province      eng_province
0            1  กรุงเทพมหานคร           BANGKOK
1            2         กระบี่             KRABI
2            3      กาญจนบุรี      KANCHANABURI
3            4      กาฬสินธุ์           KALASIN
4            5      กำแพงเพชร    KAMPHAENG PHET
..         ...            ...               ...
72          73     อำนาจเจริญ     AMNAT CHAROEN
73          74       อุดรธานี        UDON THANI
74          75      อุตรดิตถ์         UTTARADIT
75          76      อุทัยธานี       UTHAI THANI
76          77    อุบลราชธานี  UBON RATCHATHANI

[77 rows x 3 columns]